[
   {sync, [
      {sync_mode, nitrogen}
   ]},
   {web, [
      {log_modules, [ws_main, dbd_mnesia]},
      {dbd, dbd_mnesia},
      {schema, [wdb]}
   ]},
   {db, [
      {dbd, dbd_mnesia},
      {schema, [wdb]}
   ]},
   {sasl, [
      {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},
         {error_logger_mf_maxbytes, 10485760},
         {error_logger_mf_maxfiles, 5}
   ]}
].
